<div class="personal-container">
    <header class="personal-header hero-card">
        <div class="header-main-layout">
            <div class="header-text-side">
                <h1>שלום, {{ userName }}</h1>
                <div class="accent-line"></div>
                <br>
                <p class="subtitle">כאן ריכזנו עבורך את כל המתכונים שהעלית לקהילת "מטבח משותף".</p><br>
                <div class="stats-box">
                    <span class="stat-count">העלית עד כה: <strong>{{ userUploadedCount }}</strong> מתכונים</span>
                </div>
                <br>
                <button *ngIf="isApproved || userRole === 'Admin'" class="cta-primary" routerLink="/add-recipe">
                    + העלאת מתכון חדש
                </button>
            </div>

            <div class="user-profile-card-mini">
                <div class="profile-details">
                    <br>
                    <p><strong>שם:</strong> {{ userName }}</p>
                    <p><strong>אימייל:</strong> {{ userEmail }}</p>
                    <p>
                        <strong>סטטוס:</strong>
                        <span class="status-badge"
                            [ngClass]="isPending && !isApproved ? 'status-pending' : 'status-approved'">
                            {{ userRole == 'Admin' ? 'מנהל מערכת' :(isPending && !isApproved ? 'ממתין לאישור מנהל...'
                            :(isApproved ? 'בשלן מורשה' : 'צופה')) }}
                        </span>
                    </p>
                </div>

                <button *ngIf="userRole === 'Reader' && !isApproved && !isPending" class="cta-secondary"
                    (click)="requestPermission()">
                    בקש הרשאת העלאה
                </button>
            </div>
        </div>
    </header>



<section class="my-recipes-section">
    <h2 class="section-title">{{ isAdmin() }}</h2>


    <div class="recipes-grid" *ngIf="myRecipes && myRecipes.length > 0; else noRecipes">
        <div class="recipe-item feature" *ngFor="let recipe of myRecipes">
            <div class="recipe-img-box">
                <img [src]="serverUrl + '/' + recipe.image_path" alt="recipe">
            </div>
            <div class="recipe-info">
                <h3>{{ recipe.title }}</h3>
                <p>{{ recipe.recipe_type }} | {{ recipe.difficulty }}</p>
                <div class="recipe-actions">
                    <button class="action-btn view" [routerLink]="['/recipe', recipe.id]">צפייה</button>
                    <button class="action-btn delete" (click)="deleteRecipe(recipe.id)">מחיקה</button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #noRecipes>
        <div class="empty-state">
            <p>עדיין לא העלית מתכונים. זה הזמן לשתף את המתכון המנצח שלך!</p>
            <button *ngIf="isApproved || userRole === 'Admin'" class="cta-secondary" routerLink="/add-recipe">להעלאת
                המתכון הראשון</button>
        </div>
    </ng-template>
</section>


<!-- טבלת בקשות הרשאה ממתינות- למנהל -->

<section *ngIf="userRole === 'Admin'" class="admin-management-section hero-card">
    <h3 class="section-title">בקשות הרשאה ממתינות</h3>

    <div class="users-table-container" *ngIf="pendingUsers.length > 0; else noPending">
        <table class="users-table">
            <thead>
                <tr>
                    <th>שם משתמש</th>
                    <th>אימייל</th>
                    <th>פעולה</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of pendingUsers">
                    <td>{{ user.userName }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <button class="cta-primary" (click)="approveUser(user.id)">אשר</button>
                        <button class="cta-secondary" (click)="rejectUser(user.id)"
                            style="margin-right: 10px; color: #e74c3c; border-color: #c9c7bd;">דחה</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #noPending>
        <p>אין בקשות ממתינות כרגע.</p>
    </ng-template>
</section>
</div>