# Angular dependencies
client/node_modules/

# Python virtual environment and cache
server/venv/
server/env/
server/__pycache__/
*.pyc

# Database
*.sqlite3
*.db

# Others
/להגשה- שולמית לקס/
/פרויקט גמר מתכונים/
server/uploads/

