<div class="add-recipe-container">
    <h1>הוספת מתכון חדש</h1>
    <!-- תצוגת הודעה על הצלחה/שגיאה -->
    <div *ngIf="message" [class.error-msg]="isError" [class.success-msg]="!isError">
        {{ message }}
    </div>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <section class="form-section">
            <label>שם המתכון:</label>
            <input type="text" formControlName="title" placeholder="למשל: עוגת שוקולד חמה">
            <div class="error-text" *ngIf="recipeForm.get('title')?.touched && recipeForm.get('title')?.invalid">
                שם המתכון חייב להכיל לפחות 3 תווים
            </div>

            <label>תיאור קצר:</label>
            <textarea formControlName="description" placeholder="ספרי קצת על המתכון..."></textarea>
        </section>

        <div class="triple-row">
            <div class="form-group">
                <label>זמן הכנה (בדקות):</label>
                <input type="number" formControlName="prep_time">
                <div class="error-text"
                    *ngIf="recipeForm.get('prep_time')?.touched && recipeForm.get('prep_time')?.invalid">
                    זמן הכנה לא תקין
                </div>
            </div>

            <div class="form-group">
                <label>זמן בישול:</label>
                <input type="number" formControlName="cook_time">
            </div>

            <div class="form-group">
                <label>מספר מנות:</label>
                <input type="number" formControlName="servings">
                <div class="error-text"
                    *ngIf="recipeForm.get('servings')?.touched && recipeForm.get('servings')?.invalid">
                    חובה להזין מספר מנות
                </div>
            </div>
        </div>

        <section class="form-section">
            <label>הוראות הכנה:</label>
            <textarea formControlName="instructions" rows="6" placeholder="שלב 1: מחממים תנור..."></textarea>
            <div class="error-text"
                *ngIf="recipeForm.get('instructions')?.touched && recipeForm.get('instructions')?.invalid">
                יש להזין הוראות הכנה
            </div>
        </section>


        <section class="form-section image-upload">
            <label>תמונת המתכון:</label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*">
            <div *ngIf="!selectedFile && recipeForm.touched" class="error-text">
                חובה להעלות תמונה למתכון
            </div>
            <div class="preview-container" *ngIf="imagePreview">
                <img [src]="imagePreview" alt="תצוגה מקדימה">
            </div>
        </section>

        <section class="form-section">
            <h2>מצרכים</h2>
            <div formArrayName="ingredients">
                <div *ngFor="let ing of ingredients.controls; let i=index" [formGroupName]="i" class="ingredient-row">
                    <ng-container *ngIf="ing.get('is_header')?.value; else regularIng">
                        <input type="text" formControlName="section_name" class="header-input"
                            placeholder="כותרת קבוצה (למשל: לבצק)">
                    </ng-container>
                    <ng-template #regularIng>
                        <input type="text" formControlName="product" placeholder="מצרך">
                        <input type="number" formControlName="amount" placeholder="כמות">
                        <input type="text" formControlName="unit" placeholder="יחידה">
                    </ng-template>
                    <button type="button" class="remove-btn" (click)="removeIngredient(i)">✖</button>
                </div>
            </div>
            <div class="error-text"
                *ngIf="ingredients.at(0)?.get('product')?.touched && ingredients.at(0)?.get('product')?.invalid">
                יש להוסיף לפחות מצרך אחד
            </div>
            <!-- <div class="error-text" *ngIf="ingredients.length === 0">
                יש להוסיף לפחות מצרך אחד
            </div> -->
            <div class="add-buttons">
                <button type="button" class="add-btn" (click)="addIngredient()">+ מצרך</button>
                <!-- <button type="button" class="add-btn header-btn" (click)="addSectionHeader()">+ כותרת קבוצה</button> -->
            </div>
        </section>



        <div class="form-row">
            <div class="form-group">
                <label>סוג המתכון:</label>
                <select formControlName="recipe_type">
                    <option value="" disabled selected hidden>בחר סוג...</option>
                    <option value="PARVE">פרווה</option>
                    <option value="MEAT">בשרי</option>
                    <option value="DAIRY">חלבי</option>
                </select>
                <div class="error-text"
                    *ngIf="recipeForm.get('recipe_type')?.touched && recipeForm.get('recipe_type')?.value === ''">
                    חובה לבחור סוג מתכון
                </div>
            </div>
            <div class="form-group">
                <label>רמת קושי:</label>
                <select formControlName="difficulty">
                    <option value="" disabled selected hidden>בחר קושי...</option>
                    <option value="EASY">קל</option>
                    <option value="MEDIUM">בינוני</option>
                    <option value="HARD">מאתגר</option>
                </select>
                <div class="error-text"
                    *ngIf="recipeForm.get('difficulty')?.touched && recipeForm.get('difficulty')?.value === ''">
                    חובה לבחור רמת קושי
                </div>
            </div>
        </div>

        <div class="checkbox-group">
            <input type="checkbox" id="anon" formControlName="is_anonymous">
            <label for="anon">פרסם מתכון זה באופן אנונימי</label>
        </div>
        <!-- בדיקה האם הטופס תקין וקיים קובץ תמונה -->
        <button type="submit" class="submit-btn">שמור מתכון</button>
    </form>
</div>