<div class="card" [routerLink]="['/recipe', recipeData.id]">
  <div class="card-img-wrapper">
    <img [src]="recipeData.image_path && recipeData.image_path.includes('http') ? 
                 recipeData.image_path : 
                 recipeService.serverUrl + '/' + recipeData.image_path" 
         [alt]="recipeData.title">
    <span class="type-badge">{{ recipeData.recipe_type }}</span>
  </div>

  <div class="card-body">
    <h3 class="recipe-title">{{ recipeData.title }}</h3>
    <p class="author">מאת: {{ recipeData.author_name }}</p>
    <p class="recipe-desc">{{ recipeData.description }}</p>
    
    <div class="tags-container">
      <span class="tag-pill">{{ recipeData.difficulty }}</span>
    </div>
  </div>

  <div class="card-footer">
    <div class="footer-info">
      <span> {{ recipeData.prep_time + recipeData.cook_time }} דקות</span>
    </div>
    <button class="view-btn" [routerLink]="['/recipe', recipeData.id]">למתכון המלא</button>
  </div>
</div>