<div class="recipes-page-container">
  <div class="page-header">
    <h1 class="headline">המתכונים שלנו</h1>

    <p class="sub-headline">כל מתכון הוא סיפור, כל מנה היא חוויה</p>
  </div>
  <div class="filter-strip hero-card">
    <div class="filter-group">
      <label>סנן לפי כשרות:</label>
      <select [(ngModel)]="selectedType" (change)="applyFilters()">
        <option value="הכל">הכל</option>
        <option value="בשרי">בשרי</option>
        <option value="חלבי">חלבי</option>
        <option value="פרווה">פרווה</option>
      </select>
    </div>

    <div class="filter-group">
      <label>מיין לפי:</label>
      <select [(ngModel)]="sortBy" (change)="applyFilters()">
        <option value="none">ללא מיון</option>
        <option value="time">זמן הכנה (מהקצר לארוך)</option>
        <option value="servings">כמות מנות (מהרבה למעט)</option>
      </select>
    </div>
  </div>


  <div class="recipes-grid">
    <app-recipe-card *ngFor="let recipe of filteredRecipes" [recipeData]="recipe">
    </app-recipe-card>
  </div>

  <div *ngIf="recipes.length === 0" class="loading-state">
    <p>מכינים את המטבח עבורכם...</p>
  </div>
</div>