<div class="register-container">
  <h2>יצירת חשבון חדש</h2>
  <p class="subtitle">הצטרף לקהילת הבשלנים שלנו</p>

  <form #regForm="ngForm" (ngSubmit)="regForm.form.markAllAsTouched(); regForm.valid && onRegister()">
    <!--  (submit)="onRegister()" -->
    <!-- שם משתמש -input -->
    <div class="form-group">
      <label>שם משתמש</label>
      <input type="text" name="userName" [(ngModel)]="userName" required minlength="2" #uName="ngModel"
        [class.invalid-input]="uName.touched && uName.invalid" placeholder="איך לקרוא לך?">
      <div class="error-text" *ngIf="uName.touched && uName.invalid">
        שם משתמש חייב להכיל לפחות 2 תווים
      </div>
    </div>

    <div class="form-group">
      <label>אימייל</label>
      <input type="email" name="email" [(ngModel)]="email" required email #uEmail="ngModel"
        [class.invalid-input]="uEmail.touched && uEmail.invalid" placeholder="your@email.com">
      <div class="error-text" *ngIf="uEmail.touched && uEmail.invalid">
        יש להזין אימייל תקין
      </div>
    </div>

    <div class="form-group">
      <label>סיסמה</label>
      <input type="password" name="password" [(ngModel)]="password" required minlength="6" #uPass="ngModel"
        [class.invalid-input]="uPass.touched && uPass.invalid" placeholder="לפחות 6 תווים">
      <div class="error-text" *ngIf="uPass.touched && uPass.invalid">
        הסיסמה חייבת להכיל לפחות 6 תווים
      </div>
    </div>

    <button type="submit" class="btn-register">צור חשבון</button> <!-- class="btn-register" -->
  </form>

  <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="success-msg">{{ successMessage }}</p>

  <p class="footer-text">כבר יש לך חשבון? <a routerLink="/login">התחבר כאן</a></p>
</div>