<div class="login-container">
  <h2>התחברות למערכת</h2>
  <p class="subtitle">ברוך השב לספר המתכונים שלך</p>


  <form #logForm="ngForm" (ngSubmit)="logForm.form.markAllAsTouched(); logForm.valid && onLogin()">
    <!-- (submit)="onLogin()"-->

    <div class="form-group">
      <label>אימייל</label>
      <input type="email" name="email" [(ngModel)]="email" required email #lEmail="ngModel"
        [class.invalid-input]="lEmail.touched && lEmail.invalid" placeholder="your@email.com">
      <div class="error-text" *ngIf="lEmail.touched && lEmail.invalid">
        חובה להזין אימייל תקין
      </div>
    </div>

    <div class="form-group">
      <label>סיסמה</label>
      <input type="password" name="password" [(ngModel)]="password" required #lPass="ngModel"
        [class.invalid-input]="lPass.touched && lPass.invalid" placeholder="הזן סיסמה">
      <div class="error-text" *ngIf="lPass.touched && lPass.invalid">
        חובה להזין סיסמה
      </div>
    </div>

    <button type="submit" class="btn-login">התחבר</button>
  </form>

  <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>

  <p class="footer-text">עדיין אין לך חשבון? <a routerLink="/register">הירשם עכשיו</a></p>
</div>